      height: 100%;
      width: 100%;
    }

    body {
      background-color: black;
    }

    abc {
      color: #black;
      font-family: sans-serif;
      padding: 10px;
      margin: 15px;
      background-color: #002aff;
    }

    abc:hover {
      background-color: #0088ff;
      color: white;
    }
